<a href="https://colab.research.google.com/github/Toulouse08/IS-170-Machine-Learning/blob/Feature-Engineering/FuentesHW2_170.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving Summer_Sports_Experience.csv to Summer_Sports_Experience.csv

In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv("Summer_Sports_Experience.csv")
df

,Borough Location,Park Location,Sports Played,Week Start Date,Week End Date,Sunday's Attendance,Monday's Attendance,Tuesday's Attendance,Wednesday's Attendance,Thursday's Attendance,Friday's Attendance,Saturday's Attendance,Attendance Sum
0,Queens,Playground for All Children,"Soccer, Basketball, ultimate Frisbee",04/23/2017,04/22/2017,25,20,30,26,22,100,37,260
1,Queens,Playground for All Children,Basketball,04/30/2017,05/06/2017,250,95,120,180,400,0,0,1045
2,Queens,Playground for All Children,Soccer,05/07/2017,05/13/2017,590,180,250,440,550,730,0,2740
3,Queens,Playground for All Children,Pillow Polo,05/14/2017,05/20/2017,550,708,58,680,975,333,670,3974
4,Queens,Playground for All Children,All sports,05/21/2017,05/27/2017,300,375,280,200,0,370,800,2325
...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,Bronx,Williamsbridge Oval,"Basketball, Pickleball, Tennis , Soccer",08/12/2018,08/18/2018,0,25,27,16,12,31,12,123
305,Bronx,Williamsbridge Oval,"Basketball, Track and Field, Soccer, Pickle Ba...",08/19/2018,08/25/2018,0,24,33,29,25,23,10,144
306,Bronx,Williamsbridge Oval,"Tennis, Soccer ,Kickball, Flag Football",08/26/2018,09/01/2018,0,37,24,31,21,23,12,148
307,Bronx,Williamsbridge Oval,"Soccer, Basketball, Kickball, Track and Field,",09/02/2018,09/08/2018,0,12,17,15,21,25,11,101
308,Queens,Playground for All Children,Basketball soccer football baseball,09/09/2018,09/15/2018,0,0,14,2,4,23,195,238

In [ ]:
df['Sunday\'s Attendance']=df['Sunday\'s Attendance'].replace(0,df['Sunday\'s Attendance'].mean())
df

,Borough Location,Park Location,Sports Played,Week Start Date,Week End Date,Sunday's Attendance,Monday's Attendance,Tuesday's Attendance,Wednesday's Attendance,Thursday's Attendance,Friday's Attendance,Saturday's Attendance,Attendance Sum
0,Queens,Playground for All Children,"Soccer, Basketball, ultimate Frisbee",04/23/2017,04/22/2017,25.000000,20,30,26,22,100,37,260
1,Queens,Playground for All Children,Basketball,04/30/2017,05/06/2017,250.000000,95,120,180,400,0,0,1045
2,Queens,Playground for All Children,Soccer,05/07/2017,05/13/2017,590.000000,180,250,440,550,730,0,2740
3,Queens,Playground for All Children,Pillow Polo,05/14/2017,05/20/2017,550.000000,708,58,680,975,333,670,3974
4,Queens,Playground for All Children,All sports,05/21/2017,05/27/2017,300.000000,375,280,200,0,370,800,2325
...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,Bronx,Williamsbridge Oval,"Basketball, Pickleball, Tennis , Soccer",08/12/2018,08/18/2018,13.058252,25,27,16,12,31,12,123
305,Bronx,Williamsbridge Oval,"Basketball, Track and Field, Soccer, Pickle Ba...",08/19/2018,08/25/2018,13.058252,24,33,29,25,23,10,144
306,Bronx,Williamsbridge Oval,"Tennis, Soccer ,Kickball, Flag Football",08/26/2018,09/01/2018,13.058252,37,24,31,21,23,12,148
307,Bronx,Williamsbridge Oval,"Soccer, Basketball, Kickball, Track and Field,",09/02/2018,09/08/2018,13.058252,12,17,15,21,25,11,101
308,Queens,Playground for All Children,Basketball soccer football baseball,09/09/2018,09/15/2018,13.058252,0,14,2,4,23,195,238

In [ ]:
df["Monday\'s Attendance"]=df["Monday's Attendance"].replace(0,df["Monday's Attendance"].mean())
df

,Borough Location,Park Location,Sports Played,Week Start Date,Week End Date,Sunday's Attendance,Monday's Attendance,Tuesday's Attendance,Wednesday's Attendance,Thursday's Attendance,Friday's Attendance,Saturday's Attendance,Attendance Sum
0,Queens,Playground for All Children,"Soccer, Basketball, ultimate Frisbee",04/23/2017,04/22/2017,25.000000,20.000000,30,26,22,100,37,260
1,Queens,Playground for All Children,Basketball,04/30/2017,05/06/2017,250.000000,95.000000,120,180,400,0,0,1045
2,Queens,Playground for All Children,Soccer,05/07/2017,05/13/2017,590.000000,180.000000,250,440,550,730,0,2740
3,Queens,Playground for All Children,Pillow Polo,05/14/2017,05/20/2017,550.000000,708.000000,58,680,975,333,670,3974
4,Queens,Playground for All Children,All sports,05/21/2017,05/27/2017,300.000000,375.000000,280,200,0,370,800,2325
...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,Bronx,Williamsbridge Oval,"Basketball, Pickleball, Tennis , Soccer",08/12/2018,08/18/2018,13.058252,25.000000,27,16,12,31,12,123
305,Bronx,Williamsbridge Oval,"Basketball, Track and Field, Soccer, Pickle Ba...",08/19/2018,08/25/2018,13.058252,24.000000,33,29,25,23,10,144
306,Bronx,Williamsbridge Oval,"Tennis, Soccer ,Kickball, Flag Football",08/26/2018,09/01/2018,13.058252,37.000000,24,31,21,23,12,148
307,Bronx,Williamsbridge Oval,"Soccer, Basketball, Kickball, Track and Field,",09/02/2018,09/08/2018,13.058252,12.000000,17,15,21,25,11,101
308,Queens,Playground for All Children,Basketball soccer football baseball,09/09/2018,09/15/2018,13.058252,26.592233,14,2,4,23,195,238

In [ ]:
df["Thursday's Attendance"]=df["Thursday's Attendance"].replace(0,df["Thursday's Attendance"].mean())
df

,Borough Location,Park Location,Sports Played,Week Start Date,Week End Date,Sunday's Attendance,Monday's Attendance,Tuesday's Attendance,Wednesday's Attendance,Thursday's Attendance,Friday's Attendance,Saturday's Attendance,Attendance Sum
0,Queens,Playground for All Children,"Soccer, Basketball, ultimate Frisbee",04/23/2017,04/22/2017,25.000000,20.000000,30,26,22.000000,100,37,260
1,Queens,Playground for All Children,Basketball,04/30/2017,05/06/2017,250.000000,95.000000,120,180,400.000000,0,0,1045
2,Queens,Playground for All Children,Soccer,05/07/2017,05/13/2017,590.000000,180.000000,250,440,550.000000,730,0,2740
3,Queens,Playground for All Children,Pillow Polo,05/14/2017,05/20/2017,550.000000,708.000000,58,680,975.000000,333,670,3974
4,Queens,Playground for All Children,All sports,05/21/2017,05/27/2017,300.000000,375.000000,280,200,63.016181,370,800,2325
...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,Bronx,Williamsbridge Oval,"Basketball, Pickleball, Tennis , Soccer",08/12/2018,08/18/2018,13.058252,25.000000,27,16,12.000000,31,12,123
305,Bronx,Williamsbridge Oval,"Basketball, Track and Field, Soccer, Pickle Ba...",08/19/2018,08/25/2018,13.058252,24.000000,33,29,25.000000,23,10,144
306,Bronx,Williamsbridge Oval,"Tennis, Soccer ,Kickball, Flag Football",08/26/2018,09/01/2018,13.058252,37.000000,24,31,21.000000,23,12,148
307,Bronx,Williamsbridge Oval,"Soccer, Basketball, Kickball, Track and Field,",09/02/2018,09/08/2018,13.058252,12.000000,17,15,21.000000,25,11,101
308,Queens,Playground for All Children,Basketball soccer football baseball,09/09/2018,09/15/2018,13.058252,26.592233,14,2,4.000000,23,195,238

In [ ]:
df["Friday's Attendance"]=df["Friday's Attendance"].replace(0,df["Friday's Attendance"].mean())
df

,Borough Location,Park Location,Sports Played,Week Start Date,Week End Date,Sunday's Attendance,Monday's Attendance,Tuesday's Attendance,Wednesday's Attendance,Thursday's Attendance,Friday's Attendance,Saturday's Attendance,Attendance Sum
0,Queens,Playground for All Children,"Soccer, Basketball, ultimate Frisbee",04/23/2017,04/22/2017,25.000000,20.000000,30,26,22.000000,100.000000,37,260
1,Queens,Playground for All Children,Basketball,04/30/2017,05/06/2017,250.000000,95.000000,120,180,400.000000,56.119741,0,1045
2,Queens,Playground for All Children,Soccer,05/07/2017,05/13/2017,590.000000,180.000000,250,440,550.000000,730.000000,0,2740
3,Queens,Playground for All Children,Pillow Polo,05/14/2017,05/20/2017,550.000000,708.000000,58,680,975.000000,333.000000,670,3974
4,Queens,Playground for All Children,All sports,05/21/2017,05/27/2017,300.000000,375.000000,280,200,63.016181,370.000000,800,2325
...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,Bronx,Williamsbridge Oval,"Basketball, Pickleball, Tennis , Soccer",08/12/2018,08/18/2018,13.058252,25.000000,27,16,12.000000,31.000000,12,123
305,Bronx,Williamsbridge Oval,"Basketball, Track and Field, Soccer, Pickle Ba...",08/19/2018,08/25/2018,13.058252,24.000000,33,29,25.000000,23.000000,10,144
306,Bronx,Williamsbridge Oval,"Tennis, Soccer ,Kickball, Flag Football",08/26/2018,09/01/2018,13.058252,37.000000,24,31,21.000000,23.000000,12,148
307,Bronx,Williamsbridge Oval,"Soccer, Basketball, Kickball, Track and Field,",09/02/2018,09/08/2018,13.058252,12.000000,17,15,21.000000,25.000000,11,101
308,Queens,Playground for All Children,Basketball soccer football baseball,09/09/2018,09/15/2018,13.058252,26.592233,14,2,4.000000,23.000000,195,238

In [ ]:
df["Saturday's Attendance"]=df["Saturday's Attendance"].replace(0,df["Saturday's Attendance"].mean())
df

,Borough Location,Park Location,Sports Played,Week Start Date,Week End Date,Sunday's Attendance,Monday's Attendance,Tuesday's Attendance,Wednesday's Attendance,Thursday's Attendance,Friday's Attendance,Saturday's Attendance,Attendance Sum
0,Queens,Playground for All Children,"Soccer, Basketball, ultimate Frisbee",04/23/2017,04/22/2017,25.000000,20.000000,30,26,22.000000,100.000000,37.000000,260
1,Queens,Playground for All Children,Basketball,04/30/2017,05/06/2017,250.000000,95.000000,120,180,400.000000,56.119741,48.145631,1045
2,Queens,Playground for All Children,Soccer,05/07/2017,05/13/2017,590.000000,180.000000,250,440,550.000000,730.000000,48.145631,2740
3,Queens,Playground for All Children,Pillow Polo,05/14/2017,05/20/2017,550.000000,708.000000,58,680,975.000000,333.000000,670.000000,3974
4,Queens,Playground for All Children,All sports,05/21/2017,05/27/2017,300.000000,375.000000,280,200,63.016181,370.000000,800.000000,2325
...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,Bronx,Williamsbridge Oval,"Basketball, Pickleball, Tennis , Soccer",08/12/2018,08/18/2018,13.058252,25.000000,27,16,12.000000,31.000000,12.000000,123
305,Bronx,Williamsbridge Oval,"Basketball, Track and Field, Soccer, Pickle Ba...",08/19/2018,08/25/2018,13.058252,24.000000,33,29,25.000000,23.000000,10.000000,144
306,Bronx,Williamsbridge Oval,"Tennis, Soccer ,Kickball, Flag Football",08/26/2018,09/01/2018,13.058252,37.000000,24,31,21.000000,23.000000,12.000000,148
307,Bronx,Williamsbridge Oval,"Soccer, Basketball, Kickball, Track and Field,",09/02/2018,09/08/2018,13.058252,12.000000,17,15,21.000000,25.000000,11.000000,101
308,Queens,Playground for All Children,Basketball soccer football baseball,09/09/2018,09/15/2018,13.058252,26.592233,14,2,4.000000,23.000000,195.000000,238

In [ ]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
label = le.fit_transform(df['Attendance Sum'])
label

array([ 86, 131, 153, 157, 149, 139, 140, 158, 156, 148, 154,  50,  47,
        53,  48,  53,  45,  66, 155,  37,  39,  34,  13,  10,  17,  16,
        80, 152,  27,  25,  19,  15,  14,  23,  18,  20,  20,  11,  13,
        14,  16,  10,  10,  51,  16,  18,  20,  18,   8,   9,  15,  13,
        13, 151,  59,  19,  18,  25,  14,  14,  21,  26,  16,  17,  17,
         9,  17,   9,   4,  10,  10,   9,  12,  14,   7,  17,  10,  19,
       147,   3,  26,   7,   4,  27,  18,  15,  13,  21,  27,  19,  10,
        13,  10,  88,  13,  22,  33,  20,  13, 136,  17,  20,  15,  24,
        30,  26,  12,  28,  17,  12,  71,  13,  18,  24,  29,  24,  10,
        92,   2,  20,  13,  19,  14,  13,  11,  13,  14,  28,  21,  18,
        10,  10,  10, 144,   9,  10,  12,  10,  85, 133, 150,  16,  17,
         9,  12,   7,  11,   9,  12,  23,  19,  16,   7,  16,  16,  10,
         8,  87,   7,   6,  16,  15,  13,   9,  15,   2,  15,  11,  24,
        31,  18,   3,   4,  67,   7,   9,   8,   3,   2,  10,   5,   9,
        16,  16,  18, 137, 125, 130, 120,  18,  11,  15,  11,  10,  18,
         8,  13,   6,   3,   2,   3,  83, 128, 128, 121,  84, 132, 119,
       118, 109,  56,  62, 115,  52,  54, 108, 110, 116,  60, 122, 107,
        99, 105,  42,  41,  38, 142,  25,  62, 135,  97,  72,  28,   9,
        32, 145, 141,  44,  36,  55, 146,  28, 129, 104,  93, 127, 111,
        43,  40, 123, 138,  63,  64, 112, 134, 124, 124,  33,  35,  34,
        98,  81,  94,  90, 100,  61,  75,  77,  76,  73,  65,  49,  44,
        78,  79,  70,  91, 143, 103, 101,  95,  74,  65,  68,  64, 114,
       113,  96, 102, 117,   0,  28,  23,  11,  10,   1,   3, 126,  89,
        21,  69, 106,  57,  46,  51,  58,  60,  46,  82])

In [ ]:
df.drop("Attendance Sum", axis=1, inplace=True)
df["Attendance Sum"] = label
df

,Sports Played,Borough Location,Park Location,Week Start Date,Sunday's Attendance,Monday's Attendance,Tuseday's Attendance,Wednesday's Attendance,Thursday's Attendance,Friday's Attendance,Saturday's Attendance,Attendance Sum
0,"Soccer, Basketball, ultimate Frisbee",Queens,Playground for All Children,04/23/2017,25.000000,20.000000,NaN,26,22.000000,100.000000,37.000000,86
1,Basketball,Queens,Playground for All Children,04/30/2017,250.000000,95.000000,NaN,180,400.000000,56.119741,48.145631,131
2,Soccer,Queens,Playground for All Children,05/07/2017,590.000000,180.000000,NaN,440,550.000000,730.000000,48.145631,153
3,Pillow Polo,Queens,Playground for All Children,05/14/2017,550.000000,708.000000,NaN,680,975.000000,333.000000,670.000000,157
4,All sports,Queens,Playground for All Children,05/21/2017,300.000000,375.000000,NaN,200,63.016181,370.000000,800.000000,149
...,...,...,...,...,...,...,...,...,...,...,...,...
304,"Basketball, Pickleball, Tennis , Soccer",Bronx,Williamsbridge Oval,08/12/2018,13.058252,25.000000,NaN,16,12.000000,31.000000,12.000000,51
305,"Basketball, Track and Field, Soccer, Pickle Ba...",Bronx,Williamsbridge Oval,08/19/2018,13.058252,24.000000,NaN,29,25.000000,23.000000,10.000000,58
306,"Tennis, Soccer ,Kickball, Flag Football",Bronx,Williamsbridge Oval,08/26/2018,13.058252,37.000000,NaN,31,21.000000,23.000000,12.000000,60
307,"Soccer, Basketball, Kickball, Track and Field,",Bronx,Williamsbridge Oval,09/02/2018,13.058252,12.000000,NaN,15,21.000000,25.000000,11.000000,46
308,Basketball soccer football baseball,Queens,Playground for All Children,09/09/2018,13.058252,26.592233,NaN,2,4.000000,23.000000,195.000000,82

In [ ]:
old_cols=df.columns.values
new_cols=["Sports Played", "Borough Location", "Park Location", "Week Start Date", "Sunday's Attendance", "Monday's Attendance", "Tuseday's Attendance", "Wednesday's Attendance", "Thursday's Attendance", "Friday's Attendance", "Saturday's Attendance", "Attendance Sum"]
df=df.reindex(columns=new_cols)
df

,Sports Played,Borough Location,Park Location,Week Start Date,Sunday's Attendance,Monday's Attendance,Tuseday's Attendance,Wednesday's Attendance,Thursday's Attendance,Friday's Attendance,Saturday's Attendance,Attendance Sum
0,"Soccer, Basketball, ultimate Frisbee",Queens,Playground for All Children,04/23/2017,25.000000,20.000000,NaN,26,22.000000,100.000000,37.000000,260
1,Basketball,Queens,Playground for All Children,04/30/2017,250.000000,95.000000,NaN,180,400.000000,56.119741,48.145631,1045
2,Soccer,Queens,Playground for All Children,05/07/2017,590.000000,180.000000,NaN,440,550.000000,730.000000,48.145631,2740
3,Pillow Polo,Queens,Playground for All Children,05/14/2017,550.000000,708.000000,NaN,680,975.000000,333.000000,670.000000,3974
4,All sports,Queens,Playground for All Children,05/21/2017,300.000000,375.000000,NaN,200,63.016181,370.000000,800.000000,2325
...,...,...,...,...,...,...,...,...,...,...,...,...
304,"Basketball, Pickleball, Tennis , Soccer",Bronx,Williamsbridge Oval,08/12/2018,13.058252,25.000000,NaN,16,12.000000,31.000000,12.000000,123
305,"Basketball, Track and Field, Soccer, Pickle Ba...",Bronx,Williamsbridge Oval,08/19/2018,13.058252,24.000000,NaN,29,25.000000,23.000000,10.000000,144
306,"Tennis, Soccer ,Kickball, Flag Football",Bronx,Williamsbridge Oval,08/26/2018,13.058252,37.000000,NaN,31,21.000000,23.000000,12.000000,148
307,"Soccer, Basketball, Kickball, Track and Field,",Bronx,Williamsbridge Oval,09/02/2018,13.058252,12.000000,NaN,15,21.000000,25.000000,11.000000,101
308,Basketball soccer football baseball,Queens,Playground for All Children,09/09/2018,13.058252,26.592233,NaN,2,4.000000,23.000000,195.000000,238

In [ ]:
print(df.rename(columns={"Week Start Date" : "Start Date", "Sports Played" : "Sports"}))

                                                Sports Borough Location  \
0                 Soccer, Basketball, ultimate Frisbee           Queens
1                                           Basketball           Queens
2                                               Soccer           Queens
3                                          Pillow Polo           Queens
4                                           All sports           Queens
..                                                 ...              ...
304            Basketball, Pickleball, Tennis , Soccer            Bronx
305  Basketball, Track and Field, Soccer, Pickle Ba...            Bronx
306            Tennis, Soccer ,Kickball, Flag Football            Bronx
307     Soccer, Basketball, Kickball, Track and Field,            Bronx
308                Basketball soccer football baseball           Queens

                   Park Location  Start Date  Sunday's Attendance  \
0    Playground for All Children  04/23/2017            25.000000
1    Playground for All Children  04/30/2017           250.000000
2    Playground for All Children  05/07/2017           590.000000
3    Playground for All Children  05/14/2017           550.000000
4    Playground for All Children  05/21/2017           300.000000
..                           ...         ...                  ...
304          Williamsbridge Oval  08/12/2018            13.058252
305          Williamsbridge Oval  08/19/2018            13.058252
306          Williamsbridge Oval  08/26/2018            13.058252
307          Williamsbridge Oval  09/02/2018            13.058252
308  Playground for All Children  09/09/2018            13.058252

     Monday's Attendance  Tuseday's Attendance  Wednesday's Attendance  \
0              20.000000                   NaN                      26
1              95.000000                   NaN                     180
2             180.000000                   NaN                     440
3             708.000000                   NaN                     680
4             375.000000                   NaN                     200
..                   ...                   ...                     ...
304            25.000000                   NaN                      16
305            24.000000                   NaN                      29
306            37.000000                   NaN                      31
307            12.000000                   NaN                      15
308            26.592233                   NaN                       2

     Thursday's Attendance  Friday's Attendance  Saturday's Attendance  \
0                22.000000           100.000000              37.000000
1               400.000000            56.119741              48.145631
2               550.000000           730.000000              48.145631
3               975.000000           333.000000             670.000000
4                63.016181           370.000000             800.000000
..                     ...                  ...                    ...
304              12.000000            31.000000              12.000000
305              25.000000            23.000000              10.000000
306              21.000000            23.000000              12.000000
307              21.000000            25.000000              11.000000
308               4.000000            23.000000             195.000000

     Attendance Sum
0                86
1               131
2               153
3               157
4               149
..              ...
304              51
305              58
306              60
307              46
308              82

[309 rows x 12 columns]